<div class='font-sans text-gray-900'>
  <div class='min-h-screen flex flex-col sm:justify-center items-center pt-6 sm:pt-0'>
    <div>
      <a href='/'>
        <h2 class='font-bold text-3xl'>LOGO</h2>
      </a>
    </div>

    <div class='w-full sm:max-w-md mt-6 px-6 py-4 bg-white shadow-md overflow-hidden sm:rounded-lg'>
      <form method='POST' action='/auth/forgot-password'>
        <input type="hidden" name="csrfToken" value="{{csrfToken}}" />

        <div class='py-6'>
          <center>
            <span class='text-2xl font-semibold'>Forgot Password</span>
          </center>
        </div>

        <div class='mt-4'>
          <label class='block font-medium text-sm text-gray-700' for='email' value='Email' />
          <input type='email' name='email' placeholder='Email' value='{{oldValues.email}}'
            class='w-full rounded-md py-2.5 px-4 border text-sm outline-skin-primary {{#if fieldErrors.email}}border-red-500{{/if}}' />
          {{#if fieldErrors.email}}
          {{#each fieldErrors.email}}
          <p class="text-sm text-red-500">{{this}}</p>
          {{/each}}
          {{/if}}
        </div>

        <div class='flex items-center justify-end mt-6'>
          <button
            class='ms-4 inline-flex items-center px-4 py-2 bg-skin-primary border border-transparent rounded-md font-semibold text-xs text-white uppercase tracking-widest hover:bg-skin-primary/80 focus:bg-skin-primary/80 active:bg-skin-primary/80 focus:outline-none focus:ring-2 focus:ring-skin-primary focus:ring-offset-2 transition ease-in-out duration-150'>
            SEND LINK
          </button>
        </div>

      </form>
    </div>
  </div>
</div>