<div class="h-screen w-screen flex justify-center items-center">
  <div class="flex items-center gap-x-3">
    <span>{{statusCode}}</span>
    <span class="inline-block w-px bg-black self-stretch"></span>
    <span>{{message}}</span>
  </div>
</div>